parameters:
  framework: ''
  projectName: ''

steps:
- task: DotNetCoreCLI@2
  displayName: 'Test ${{ parameters.projectName }}'
  inputs:
    command: test
    arguments: '--framework ${{ parameters.framework }} --logger "trx;LogFileName=$(Build.ArtifactStagingDirectory)/TestResults/${{ parameters.projectName }}-${{ parameters.framework }}.trx" /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:CoverletOutput=$(Build.ArtifactStagingDirectory)/TestResults/${{ parameters.projectName }}-${{ parameters.framework }}.opencover.xml test/${{ parameters.projectName }}/${{ parameters.projectName }}.csproj'
    nobuild: true
    publishTestResults: false
